@using StudentskaSluzba.Model
@model List<News>

@{ 
    ViewData["Title"] = "Popis Novosti";
}

<div class="col-4">
    <a asp-action="Create" class="btn btn-success">Novi</a>
</div>

@foreach (var n in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@n.Title - @n.Class.Name</h5>
            <p class="card-text">@n.Message</p>
        </div>
    </div>
}