@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli</h1>
    <p>Polazna stranica prikazuje popis studenata, više uputa na Stranici Upute</p>
</div>
