@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Uloga profesora može mijenjati podatke o studentima te dodavati novosti</p>
<p>Uloga managera može mijenjati podatke o profesorima</p>
<p>Uloga admina može brisati entitete i dodavati predmete</p>
